!!!
%html
  %head
    %title Device Warranty
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    :css
       body { text-align: center; }

       table.center {
         padding-top: 100px;
         margin-left:auto;
         margin-right:auto;
       }

       table {
        border: 1px solid black;
        border-collapse: collapse;
       }

       th {
        text-align: left;
        background: #ccc;
        padding: 5px;
        border: 1px solid black;
       }

       td {
        padding: 5px;
        border: 1px solid black;
       }
  %body
    = yield
