%table.center
  %tr
    %td
      Device Model
    %td
      = @device.model
  %tr
    %td
      Phone Support
    %td
      = "#{(@device.phone_support?) ? "Active. Expired in #{@device.phone_support_expired_date}": 'Expired'}"
  %tr
    %td
      Hardware Support
    %td
      = "#{(@device.hardware_support?) ? "Active. Expired in #{@device.hardware_support_expired_date}": 'Expired'}"
