!!!
%html
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    :css
      .center {
          margin-left: auto;
          margin-right: auto;
          width: 70%;
          background-color: #b0e0e6;
      }
  %body
    = yield
